body {
    background-image: linear-gradient(0, #da27f5 0, #b319f9 16.67%, #8014fd 33.33%, #0019ff 50%, #0024ff 66.67%, #002dff 83.33%, #0034ff 100%);
    background-size: cover; /* Ensures the background covers the entire screen */
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    color: white;
}